@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .logo,
.menu {
  margin: 50px 55px 60px 100px;
}
nav h3 {
  font-weight: 700;
  font-size: 31px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.banner-parent {
  width: 50%;
  margin: 42px auto;
}
.banner-text {
  text-align: center;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 64px;
}
.banner-text p {
  font-size: 13px;
  margin: 20px 0px;
}
.primary-button {
  color: white;
  background: rgb(255, 144, 14);
  border-radius: 8px;
  border: none;
  font-weight: 700;
  padding: 20px 30px;
  margin: 20px 0px;
}
.banner-image {
  margin: 0px auto;
}
.banner-image img {
  width: 87%;
  margin: 0px 100px 30px;
}
.features {
  display: flex;
  justify-content: space-between;
  margin: 50px 106px;
}
.features .left {
  width: 50%;
}
.features .left .port-img {
}
.features .left .port-img img {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.right {
  width: 50%;
  margin: 125px -33px 50px 30px;
}
.right h2 {
  font-weight: 600;
  font-size: 50px;
  margin: 30px 0px;
}
.right #first {
  color: rgb(114, 114, 114);
}
.right #last {
  color: rgb(255, 144, 14);
}
.right p {
  margin: 10px 0px;
}
.showcase {
  display: flex;
  width: 100%;
}
.left-text {
  width: 50%;
  margin: 0px 50px 0 110px;
}
.left-text h1 {
  border-left: thick solid rgb(255, 144, 14);
  padding: 0px 17px;
  margin: 20px 0px;
}
.left-text p {
  font-size: 14px;
  color: rgb(114, 114, 114);
  margin-bottom: 10px;
}
.cat {
  margin: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  padding: 10px;
}
.cat h3 {
  font-size: 16px;
  margin: 15px 0px;
}
.cat p {
}
.right-image {
  width: 50%;
}
.right-image img {
  width: 500px;
  height: 700px;
  margin-right: 172px;
  position: absolute;
}
.year-button {
    color: white;
    background: rgb(255, 144, 14);
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 50px;
    margin: 20px 0px;
    position:relative;
    width: 250px;
    height: 160px;
    left: -31px;
    top: 572px;
  }
  .year-button p{
        font-size: 25px;
        font-weight: 500;
  }