@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 38px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h3 {
  font-weight: 700;
  font-size: 31px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.banner-parent {
  width: 50%;
  margin: 42px auto;
}
.banner-text {
  text-align: center;
}
.banner-text h1 {
  font-weight: 700;
  font-size: 64px;
}
.banner-text p {
  font-size: 13px;
  margin: 20px 0px;
}
.primary-button {
  color: white;
  background: rgb(255, 144, 14);
  border-radius: 8px;
  border: none;
  font-weight: 700;
  padding: 20px 30px;
  margin: 20px 0px;
}
.banner-image {
  margin: 0px auto;
}
.banner-image img {
  width: 87%;
  margin: 0px 100px 30px;
}
/* responsive for nav and banner  mobile device */
@media screen and (max-width: 576px) {
  .container {
    background-color: rgb(127, 205, 184);
  }
  nav {
    justify-content: space-between;
  }
  nav .logo {
    margin-left: 80px;
  }
  nav .logo,
  .menu {
    margin-right: 20px;
  }
  nav h3 {
    font-weight: 700;
    font-size: 20px;
    margin-left: -60px;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  .banner-parent {
    margin: 42px auto;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text h1 {
    font-size: 20px;
  }
  .banner-text p {
    font-size: 10px;
    margin: 10px 0px;
  }
  .primary-button {
    padding: 10px 20px;
    margin: 10px 0px;
  }
  .banner-image img {
    width: 65%;
    margin: -35px 70px;
  }
}
/* Responsive for nav and banner ends here */
/* features section code stars here */
.features {
  display: flex;
  justify-content: space-between;
  margin: 50px 106px;
}
.features .left {
  width: 50%;
}
.features .left .port-img img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-top: 14px;
}
.right {
  width: 50%;
  margin: 125px -33px 50px 30px;
}
.right h2 {
  font-weight: 600;
  font-size: 50px;
  margin: 30px 0px;
}
.right #first {
  color: rgb(114, 114, 114);
}
.right #last {
  color: rgb(255, 144, 14);
}
.right p {
  margin: 10px 0px;
}
/* features section code ends here */
/* feature responsive starts here */
@media screen and (max-width: 576px) {
  .features {
    flex-direction: column;
    margin: 50px 150px;
  }
  .features .left {
  }
  .features .right {
    margin: 15px 0px 0px 65px;
  }
  .right h2 {
    font-size: 20px;
    margin: 13px 0px;
  }
  .right p {
    margin: 10px -40px;
    text-align: center;
  }
}
/* features responsive ends here */
.showcase {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
.left-text {
  width: 50%;
  margin: 0px 50px 0px 110px;
}
.left-text h1 {
  border-left: thick solid rgb(255, 144, 14);
  padding: 0px 17px;
  margin: 20px 0px;
}
.left-text p {
  font-size: 14px;
  color: rgb(114, 114, 114);
  margin-bottom: 10px;
}
.cat {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  padding: 10px;
}
.cat h3 {
  font-size: 16px;
  margin: 15px 0px;
}
.cat p {
}
.right-image {
  width: 50%;
}
.right-image img {
  width: 500px;
  height: 700px;
  margin-right: 172px;
  position: absolute;
}
.year-button {
  color: white;
  background: rgb(255, 144, 14);
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 50px;
  margin: 20px 0px;
  position: relative;
  width: 250px;
  height: 160px;
  left: -31px;
  top: 572px;
}
.year-button p {
  font-size: 25px;
  font-weight: 500;
}
/* showcase ends here */
/* showcase responsive starts here */
@media screen and (max-width: 576px) {
  .showcase {
    flex-direction: column;
  }
  .left-text {
    margin: 0px 50px 0px 155px;
  }
  .left-text h1 {
    margin: 15px 0px;
    font-size: 16px;
  }
  .left-text p {
    font-size: 10px;
    margin: 0 10px;
  }
  .cat {
    margin: 10px 32px 15px 25px;
    padding: 10px;
  }
  .cat h3 {
    font-size: 12px;
    margin: 15px 12px;
  }
  .right-image {
  }
  .right-image img {
    height: 300px;
    width: 300px;
    left: 140px;
  }
  .right-image {
  }
  .year-button {
    width: 105px;

    height: 60px;

    left: 202px;

    top: 248px;

    font-size: 15px;
  }
}
/* showcase responsive ends here */

.facts {
  margin: -6px 120px;
}
.facts h1 {
  margin: 15px 0px;
}
.facts p {
  width: 422px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(120, 116, 116);
}
.facts .fact-items {
  display: flex;
  margin: 99px 81px;
}
.facts .fact-dis {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  margin: 2px 22px;
  width: 200px;
  text-align: center;
  height: 180px;
}
.fact-items :hover {
  transform: scale(1.2);
  transition: width 2s ease 0s, all 1s ease-in-out 0s;
}
.facts .fact-dis img {
  width: 40px;
  height: 40px;
  margin: 20px 0px;
}
.fact-dis p {
  width: 200px;
  font-weight: 600;
  font-size: 30px;
  color: rgb(66, 66, 66);
}
.fact-dis #fact-text {
  font-weight: 500;
  margin: 20px 0px;
  font-size: 18px;
}
/* fact responsive starts here */
@media screen and (max-width: 576px) {
  .facts {
    margin: 270px 162px 21px;
  }
  .facts p {
    font-size: 10px;

    width: 250px;

    line-height: 13px;
  }
  .facts .fact-items {
    flex-direction: column;
    margin: 22px 0px;
  }
  .facts .fact-dis {
    width: 180px;
    height: 140px;
    margin: 12px 30px;
  }
  .facts .fact-dis img {
    width: 50px;
    height: 50px;
    margin: 10px 0px;
  }
  .fact-dis #fact-text {
    margin-left: -35px;
  }
  .fact-dis #fact-num {
    font-size: 18px;

    margin: 0 0 0 -36px;
  }
}
/* fact responsive starts here */
/* trust code starts from here */
.trust-title {
  width: 100%;
  padding: 40px 0px;
  text-align: center;
}
.trust-title h1 {
  margin: 10px 0px;
}
.trust-title p {
  margin: 10px 0px;
  padding: 0px 150px;
}
.trust-1 {
  text-align: center;
  margin-bottom: 40px;
}
.trust-1 p {
  margin: 15px 0px;
}
.trust-1 h3 {
  font-size: 25px;
}
.trust-1 i {
  color: rgb(127, 205, 184);
  margin-right: 15px;
}
/* trust code ends from here */
/* trust responsive starts here */
@media screen and (max-width: 576px)
{
  .trust-title {
    padding: 0px 0px;
  }
.trust-title h1 {
    font-size: 18px;
    margin: 20px 0px;
}
.trust .trust-1 h3 {
  font-size: 20px;
}
.trust .trust-1 p {
  margin: 15px 150px;
}
}
/* trust responsive ends here */
/* Sponser starts here */
.sponser {
  margin: 100px 0px;
  text-align: center;
}
.sponser h1 {
  margin: 20px 0px;
}
.spon-dis {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgb(114, 114, 114);
  margin: 0px 400px;
}
.sponser-img {
  margin: 100px 30px;
}
.sponser-img img {
  margin: 0px 75px;
  width: 100.51px;
  height: 50px;
  filter: grayscale(100%);
}
footer {
  background: rgb(255, 244, 231);
  border-radius: 8px;
  margin: 116px;
}
footer p {
  font-size: 18px;
  color: rgb(112, 109, 109);
  text-align: center;
  padding: 30px;
}
