/* font linked here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:rgba(255, 144, 14, 0.1);
    /* height: 500px; */
}
/* nav css starts here */
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo, .menu{
    margin: 50px 55px 60px 100px;
}
nav h3{
    font-weight: 700;
    font-size: 31px;
    }
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
/* nav css ends here */
/* banner code starts here */
.banner-parent{
    width: 50%;
    margin: 42px auto;
}
.banner-text{
 text-align: center;
 
}
.banner-text h1{
    font-weight: 700;
    font-size: 64px;
}
.banner-text p{

font-size: 13px;

margin: 20px 0;
}
 .primary-button{
    color: white;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    padding: 20px 30px;
    margin: 20px 0;
}
/* banner image starts section */
.banner-image{
    margin:  0 auto;
}
.banner-image img{
    width: 87%;
    margin: 0px  100px 30px 100px;
}
/* banner image ends section */
/* banner code ends here */
/* features starts here */
.features{
        display: flex;
        justify-content: space-between;
        margin: 50px 106px;
}
.features .left{
 width: 50%;
}
.features .left .port-img{

}
.features .left .port-img img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.right{
    width: 50%;
    margin: 125px -33px 50px 30px;
}
.right h2{
    font-weight: 600;
    font-size: 50px;
    margin: 30px 0;
}

.right #first{
     color: #727272;
}
.right #last{
    color: #FF900E;
}
.right p{
    margin: 10px 0;
}

/* features starts here */
